body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
h2, h3, h4, ul, p{
   font-family: 'Dosis', sans-serif;
    padding: 7px;
    text-align: center;
}
h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 8em;
    text-align: center;
    padding-top: 3%;
    position: relative;
    left: -30px;
}
p {
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    text-align: center;
    padding-top: 15%;
}
.sub{
    text-align: center;
    font-family: 'Julius Sans One', 'Dosis',Helvetica, sans-serif;
    font-size: 28px;
    position: relative;
    bottom:15px;
    left: -30px;
    color: rgb(220,168, 55);
}
.dot {
    height: 1200px;
    width: 1200px;
    background-image: url(images/target.png);
    background-repeat: no-repeat;
    position:relative;
}
.dot1 {
    position:absolute;
    clear: both;
    height: 120px;
    width: 120px;
    top: 45%;
    left:45%;
    background-color: rgb(220,	168, 55);
    border-radius: 50%;
    display: inline-block;
}
.dot2 {
    position:absolute;
    clear: both;
    height: 80px;
    width: 80px;
    top: 100px;
    left: 565px;
    background-color: rgba(220,	168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
}

.dot2:hover .statement {
    visibility: visible;
}

img{
    display: none
}

.prototype:hover + img{
    display: block;
}

.prototype {
    z-index: 9;
}

.dot3 {
    position:absolute;
    height: 80px;
    width: 80px;
    top: 450px;
    left:20px;
    background-color: rgba(220,	168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
}

.dot4 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,	168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 470px;
    left:320px;
}

.dot6:hover .vision {
    visibility: visible;
}

.dot5 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,	168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 250px;
    left:220px;
}

.dot5:hover .research {
    visibility: visible;
}

.dot1:hover .communication {
    visibility: visible;
}

.dot6 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 250px;
    left:900px;
}
.dot4:hover .reference {
    visibility: visible;
}

.dot7 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,	168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 350px;
    left:700px;
}

.dot7:hover .collaborate {
    visibility: visible;
}

.dot8 {
  height: 50px;
  width: 50px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.6);
    border-radius: 50%;
    display: inline-block;
     top: 750px;
    left:1000px;
}
.dot9 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 470px;
    left:850px;
}

.dot8:hover .blank {
    visibility: visible;
}
.dot9:hover .optimistic{
    visibility: visible;
}

.optimistic, .interact, .evolve, .story, .possibilities, .vision, .research, .statement, .communication, .reference, .collaborate, .blank, .optimistic, .clarity, .visual, .building, .revisit, .strategies, .culture  {
    visibility: hidden;
    width: 300px;
    color: #000;
    text-align: left;
    padding: 10px;
    position: absolute;
    font-size: 14px;
    z-index: 1;
}

.dot10 {
  height: 50px;
  width: 50px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.6);
    border-radius: 50%;
    display: inline-block;
     top: 560px;
    left:200px;
}
.dot10:hover .blank {
    visibility: visible;
}

.dot11 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 750px;
    left:300px;
}
.dot11:hover .clarity {
    visibility: visible;
}

.dot12 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 720px;
    left:680px;
}

.dot12:hover .visual {
    visibility: visible;
}

.dot13 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 620px;
    left:80px;
}

.dot13:hover .building {
    visibility: visible;
}

.dot14 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 890px;
    left:160px;
}
.dot14:hover .interact {
    visibility: visible;
}

.dot15 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 820px;
    left:820px;
}
.dot15:hover .evolve {
    visibility: visible;
}

.dot16 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 1000px;
    left:600px;
}

.dot16:hover .revisit {
    visibility: visible;
}

.dot17 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 390px;
    left:450px;
}

.dot17:hover .story {
    visibility: visible;
}

.dot18 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 850px;
    left:450px;
}

.dot18:hover .possibilities {
    visibility: visible;
}

.dot19 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 605px;
    left:890px;
}

.dot19:hover .strategies {
    visibility: visible;
}

.dot20 {
  height: 80px;
  width: 80px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.7);
    border-radius: 50%;
    display: inline-block;
     top: 925px;
    left:900px;
}

.dot20:hover .culture {
    visibility: visible;
}

.dot21 {
  height: 50px;
  width: 50px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.6);
    border-radius: 50%;
    display: inline-block;
     top: 260px;
    left:400px;
}
.dot21:hover .blank {
    visibility: visible;
}

.dot22 {
  height: 50px;
  width: 50px;
   position:absolute;
  background-color: rgba(220,168, 55, 0.6);
    border-radius: 50%;
    display: inline-block;
     top: 660px;
    left:500px;
}
.dot22:hover .blank {
    visibility: visible;
}

@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
  }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
  }
}

